.bg {
    background-color: #004047;
}

.bg-div {
   background-color: #012F34;
}

.h2-heading {
    font-size: 48px;
    line-height: 48px;
}

.h2-heading-res {
    font-size: 32px;
    line-height: 32px;
}

.h3-heading {
    font-size: 18px;
    line-height: 28px;
}